.loading-spinner {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

// .spinner-sm {
//     mat-progress-spinner {
//         width: 16px;
//     }
// }
// .spinner-md {
//     mat-progress-spinner {
//         width: 32px !important;
//         height: 32px !important;
//         >svg {
//             width: 32px !important;
//             height: 32px !important;
//         }
//     }
// }
// .spinner-lg {
//     mat-progress-spinner {
//         width: 64px;
//     }
// }
