.container {
    display: flex;
    width: 100%;
    height: 290px;
    border-radius: 0 0 60% 60%;
    background-color: #0080C1;
  img {
    width: 50%;
    margin-right: auto
  }
  a {
    margin: auto;
    font-size: large;
    color: rgb(66, 66, 66);
  }
}

.content {
  display: flex;
  margin-right: auto;
  width: 50%;
}

.account {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  top: 0;
  right: 0;
}
