.container {
  width: 100%;
  margin-top: 100px;
  height: 500px;
  background-color: #ffffff;
}

.header {
  background-color: #ededed;
  height: 45px;
}

.row-1 {
  margin-top: 15px;
  display: flex;
  width: 80%;
 }

 .row-2 {
  margin-top: 15px;

   width: 80%;
 }

 .row-3 {

  margin-top: 15px;

  width: 80%;
}
