.container {
  width: 100%;
  margin-top: 100px;
  min-height: 750px;
  height: auto;
  background-color: #ffffff;
}

.header {
  background-color: #ededed;
  height: 45px;
}

.form-container {
  width: 80%;
  margin: auto;
}
.row-1 {
  margin-top: 15px;
  display: flex;
  width: 100%;
 }

 .row-2 {
  margin-top: 15px;

   width: 100%;
 }

 .btn {
   margin-left: 20px;
   margin-top: 30px;
   float: left;;
 }
