.container {
  width: 72%;
  padding-left: 3%;
  padding-top: 9%;
  float: left;
}

.sidnav-container {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
}

.sidnav {
  width: 18%;
}

.side-container {
  position: fixed;
  width: 18%;
  float: right;
  padding-right: 4%;
  padding-top: 8%;
}
