<mat-toolbar class="top-toolbar">
  <div class="part-start" style="display: flex; width: 100%">
    <div class="side-nave-btn">
      <button mat-icon-button (click)="tog()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <img class="logo" src="https://www.digikala.com/static/files/ddcba6ed.svg" alt="">
    <div class="search-container">
      <mat-form-field style="text-align: right; font-size:small; width:100%">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="جست و جو">
      </mat-form-field>
    </div>
  </div>
  <div class="part-end">
    <button [matMenuTriggerFor]="userMenu" class="dropdown">
      <img class="imeg" src="../../../../assets/images/JPEG/41581915.jpeg">
    </button>
    <mat-menu #userMenu="matMenu">
      <div class="menu-container">
        <button mat-menu-item>
          <div class="item">
            <mat-icon class="item-icon">person_outline</mat-icon>
            <span>پروفایل</span>
          </div>
        </button>
        <button mat-menu-item>
          <div class="item">
            <mat-icon class="item-icon">autorenew</mat-icon>
            <span>تغییر رمز عبور</span>
          </div>
        </button>
        <button (click)="logout()" mat-menu-item>
          <div class="item">
            <mat-icon class="item-icon">sentiment_dissatisfied</mat-icon>
            <span>خروج</span>
          </div>
        </button>
      </div>
    </mat-menu>
  </div>
</mat-toolbar>
