.container {
  display: flex;
  width: 100%;
}

.filter-container {
  width: 25%;
  margin-left: auto;
  margin-top: 9%;
  height: 0;
  background-color: #fffefe;
}

.check-box-cont {
  margin-top: 30px;
  margin-right: 10px;
}

.check-box {
  margin-top: 5px;
  span {
      margin-right: 5px;
  }
}

.list-container {
  margin-right: auto;
  width: 75%;
  padding-top: 9%;
}

.tile-container {
  display: flex;
  width: 95%;
  height: 100%;
  background-color: #ffffff;
  margin-top: 18px;
}

.logo-cont {
  display: flex;
  margin-right: 10px;
  margin-top: 10px;
}

.logo-img {
  width: 115px;
}

.tile-container:hover {
  width: 100%;
  transition: 0.5s;
  margin-left: 0px;
}

.company-detail {
  margin-right: 10px;

}

.company-title {
  font-size: larger;
  color: darkcyan;
}

.company-chip {
  margin-top: 7px;
}

.chips {
  background-color: #8c8c8c !important;
  max-height: 22px;
  min-height: 22px;
  width: auto !important;
  font-size: x-small;
}


.actions {
  padding: 12px;
  margin-right: auto;
}
.resume-btn {
  background-color: #0cedff;
  color: white;
}


.paginator {
  margin: auto;
  width: 95%;
  margin-top: 12px;
}
